<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "PaüSiber" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h1 class="my-0 mr-md-auto font-weight-normal align-middle">PaüSiber</h1>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Son Güncellenme Tarihi: 06 Ekim, 2019</a>
      </nav>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <img src="/images/logo.png" alt="" class="navbar-brand align-middle" width="60%">
      <hr>
      <h1 class="display-4">Önerdiğimiz Kaynaklar</h1>
      <p class="lead text-left">
        Topluluğumuz tarafından takip edilmesi önerilen kaynakları saklar.
      </p>
    </div>

    <div class="container">
      <%= yield %>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="/images/logo.png" alt="" width="24" height="24">
            <small class="d-block text-muted">PaüSiber Topluluğu</small>
            <small class="d-block mb-3 text-muted">&copy; 2016-2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Sosyal Medya</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://www.instagram.com/pausiber/">Instagram</a></li>
              <li><a class="text-muted" href="https://twitter.com/SiberPau">Twitter</a></li>
              <li><a class="text-muted" href="https://t.me/siberpau">Telegram</a></li>
              <li><a class="text-muted" href="mailto:siberpau@gmail.com">E-posta</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
