<footer class="pt-4 my-md-5 pt-md-5 border-top">
          
          <div class="row text-center social-media-icons">
              <a class="text-muted" href="https://www.instagram.com/pausiber/"> <i class="fab fa-instagram"></i> Instagram</a>
              <a class="text-muted" href="https://twitter.com/SiberPau"> <i class="fab fa-twitter"></i> Twitter</a>
              <a class="text-muted" href="https://t.me/siberpau"> <i class="fab fa-telegram"></i> Telegram</a>
              <a class="text-muted" href="mailto:siberpau@gmail.com"> <i class="fas fa-envelope"></i> E-posta</a>
          </div>
         
          <div class="row text-center copyright">
            <div class="col-12 col-md ">
              <img class="mb-2" src="/images/logo.png" alt="" width="24" height="24">
              <small class="d-block text-muted">PaüSiber Topluluğu</small>
              <small class="d-block mb-3 text-muted">&copy;2019</small>
            </div>
        </div>
      </footer>