<nav class="navbar navbar-dark navbar-transparent my-2">
  <a class="navbar-brand" href="/">PaüSiber</a>
  <div class="form-inline">
    <div style="color:#E7EFFF;">Son Güncellenme Tarihi : <%= current_page.data.date || "06 Ekim 2019"%> </div>
  </div>
</nav>