---
title: PauSiber | Film Dizi Belgesel
date: 27 Ekim 2022

---

<h1 class="text-center mt-5">Film / Dizi / Belgesel ile ilgili kaynaklar</h1>

- [Snowden (2016)](https://www.imdb.com/title/tt3774114/)
- [Citizenfour (2014)](https://www.imdb.com/title/tt4044364/)
- [Zero Days (2016)](https://www.imdb.com/title/tt5446858/)
- [The Fifth Estate (2013)](https://www.imdb.com/title/tt1837703/)
- [We Steal Secrets: The Story of WikiLeaks (2013)](https://www.imdb.com/title/tt1824254/)
- [The Imitation Game (2014)](https://www.imdb.com/title/tt2084970/)
- [The Social Network (2010)](https://www.imdb.com/title/tt1285016/)
- [The Great Hack (2019)](https://www.imdb.com/title/tt9358204/)
- [Steve Jobs (2015)](https://www.imdb.com/title/tt2080374/)
- [Jobs (2013)](https://www.imdb.com/title/tt2357129/)
- [Inside Bill's Brain: Decoding Bill Gates ](https://www.imdb.com/title/tt10837476/)
- [The Internet's Own Boy: The Story of Aaron Swartz (2014)](https://www.imdb.com/title/tt3268458/)
- [We Are Legion: The Story of the Hacktivists (2012)](https://www.imdb.com/title/tt2177843/)
- [Who Am I (2014)](https://www.imdb.com/title/tt3042408/)
- [Mr. Robot (2015-2019)](https://www.imdb.com/title/tt4158110/)
- [Unit 42 (2017)](https://www.imdb.com/title/tt6136644/)
- [Person of Interest (2011-2016)](https://www.imdb.com/title/tt1839578/)
- [The Playlist](https://www.imdb.com/title/tt11564258/)
- [Suits](https://www.imdb.com/title/tt1632701/)



