---
title: PauSiber | Guvenlik
date: 06 Ekim 2019

---

<h1 class="text-center mt-5">Güvenlik ile ilgili kaynaklar</h1>


- [Canyoupwnme](https://canyoupwn.me/)
- [Web Security Academy](https://portswigger.net/web-security)
- [OWASP](https://owasp.org)
- [HackTheBox](https://www.hackthebox.eu/)
- [PriviaHub](https://priviahub.com/)
- [0x00sec](https://0x00sec.org/)
- [vvhack](https://vvhack.org/)
- [Azeria Labs](https://azeria-labs.com/)
- [IoTSecurity](https://github.com/V33RU/IoTSecurity101)
- [Liveoverflow](https://liveoverflow.com/)
- [Exploit Education](https://exploit.education/)
- [Mobile Security Testing Guide](https://mobile-security.gitbook.io/mobile-security-testing-guide/)
- [ring0.info](https://ring0.info/)
- [abdullahog.lu](http://web.archive.org/web/20190101014842/http://www.abdullahog.lu/index.php/bilisim)
- [cihatyildiz](https://blog.cihatyildiz.com/)
- [manalysiz](https://manalysiz.com/)