---
title: PauSiber | Yazilim
date: 21 Ekim 2020

---

<h1 class="text-center mt-5">Yazılım ile ilgili kaynaklar</h1>

- [Güzel zine'ler hazırlıyor **`jvns.ca`**](https://jvns.ca/)
- [JavaScript Zero To Hero](https://zerotohero.dev/)
- [Clean Code](http://cleancoder.com/)
- [Web Developer Roadmaps](https://roadmap.sh/)
- [Python dokümantasyon **`Python Documentation`**](https://docs.python.org/3/)
- [Django Girls](https://tutorial.djangogirls.org/tr/)
- [Golang Tutorial](https://go-tour-turkish.appspot.com/list)
- [Türkçe Go Programlama Dili Kitabı](https://kitap.golangtr.org/)
- [Codewars](https://www.codewars.com/)
- [HackerRank](https://www.hackerrank.com/)
- [freeCodeCamp](https://www.freecodecamp.org/)
- [W3Schools](https://www.w3schools.com/)
- [DataCamp](https://www.datacamp.com/)
- [Codecademy](https://www.codecademy.com/)
- [Code School](https://www.codeschool.com/)
- [Code Avengers](https://www.codeavengers.com/)



